@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to our MVC - HOTELS AND ROOMS</h1>
    <p>The perfect platform to manage your hotels and rooms.</p>
</div>
